<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Clay Caylor
  config.xml
  Info2439.8A
  Brown
  11/07/2017
-->
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.claycaylor.info2439"
    version     = "0.9.0"
    versionCode = "09" >

<!-- versionCode is optional and Android only -->

  <name>Info2439 Hybrid Home</name>

  <description>
      The hybrid app version of Clay Caylor's webapp for MCC Info2439.
  </description>

  <author email="cccayloriii@mail.mccneb.edu">
      Clay Caylor
  </author>

  <content src="default.html" />

  <platform name="android" />

  <!-- Customize your app and platform with the preference element. -->
  <preference name="orientation"                value="default" />
  <preference name="target-device"              value="universal" />
  <preference name="fullscreen"                 value="false" />
  <preference name="android-installLocation"    value="auto" />
  <preference name="webviewbounce"              value="false"/>
  <preference name="DisallowOverscroll"         value="false"/>
  <preference name="disallowOverscroll"         value="false"/>
  <preference name="SplashMaintainAspectRatio"  value="true" />
  <preference name="AutoHideSplashScreen"       value="true" />
  <preference name="SplashScreenDelay"          value="2000" />

  <!-- Core plugins -->
  <plugin name="cordova-plugin-splashscreen" />
  <plugin name="cordova-plugin-vibration" />

  <!-- Define app icon for each platform. -->
  <icon src="apple-touch-icon-57x57.png"   platform="android" qualifier="mdpi" />
  <icon src="apple-touch-icon-72x72.png"   platform="android" qualifier="hdpi" />
  <icon src="apple-touch-icon-114x114.png" platform="android" qualifier="xhdpi" />
  <icon src="apple-touch-icon-144x144.png" platform="android" qualifier="xxhdpi" />
  <icon src="apple-touch-icon-196x196.png" platform="android" qualifier="xxxhdpi" />

  <!-- Define app splash screen for each platform. -->
  <splash src="splash.png" />

  <!-- Define access to external domains. -->
  <access origin="*" subdomains="true" />

  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>

</widget>
