/* Clay Caylor
  caylor_a1.css
  Info2439.8A
  Brown
  09/13/2017
*/

main {text-align: center;}

h2 {color: DarkOrange;}

h3 {text-decoration: underline;}

footer {font-style: italic;
  text-align: center;}
