* {font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

.ui-overlay-a, .ui-page-theme-a {background-color: transparent;}

.ui-header .ui-title {font-family: Arvo, serif;
  font-weight: bold;
}

.ui-footer .ui-title * {font-family: Arvo, serif;
  font-style: italic;
  font-weight: lighter;
}

.ui-page {background-image: url(../images/plate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.ui-content .logo {height: 11vh;
  margin: -0.9em auto -1em -0.9em;
}

.placemat {width: 85vw;
  border-radius: 1.0em;
  background-color: hsla(360, 0%, 85%, 0.85);
  margin: auto;
  padding: 1.5em;
}

.centerHolder {width: 100%;
  margin: 0;
  text-align: center;
}

.ui-content {min-height: 88vh;}

.ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {min-height: 100vh !important;}
